* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

:root {
    --hero-color: #FF3F3F;
    --menu-left-offset: -300px;
--menu-width: 300px;
}

p {
    opacity: 120%;
}

body {
margin: 0px;
padding: 0px;
background-color: #f1f1f1;

}
.navbar {
background-color: #ffffff;
min-height: 18px;
}
.navbar-wrapper {
display: flex;
margin-right: auto;
margin-left: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-menu-wrapper {
    justify-content: space-between;
    align-items: center;
}
.navbar-menu-item {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: var(--hero-color);
}

.btn-primary {
    padding: 26px 38px;
    justify-content: center;
    border-radius: 96px;
    background-color: #ff3f3f;
    color: #ffffff;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.btn-primary.small {
    padding: 18px 24px;
    border-radius: 76px;
    font-size: 16px;
    line-height: 18px;
}


.navbar-bars,
.navbar-x {
display: none;
}

.navbar-background {
position: absolute;
z-index: 50;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;
background-color: #000000;
opacity: 0.8;
display: none;
}   

.btn-primary{
    color: white;
    background-color: var(--hero-color);
    text-decoration: none;
    padding: 26px 38px;
    display: inline-block;
    border-radius: 48px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #e91a1a;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 26px 38px;
    display: inline-block;
    border-radius: 48px;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--hero-color);
    color: white;
}

.section-a {
    background-image: url(Imgs/Landing-Image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.section-a div {
    border-radius: 30px;
    position: relative;
    top: 180px;
    width: 40%;
    margin: 0 50px;
}

h1 {
    color: white;
    font-weight: 10;
    font-size: 75px;
    line-height: 1.161em;
    padding-top: 20px;
}

.section-a p {
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: 1.667em;
}

.section-a .btn {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section-a .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-b {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 125px 1fr;
}

.section-b div.content-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.section-b h3 {
    font-size: 60px;
    color: black;
}

.section-b ul {
    font-size: 40px;
    color: black;
    margin-left: 30px;
}

.section-b div.image-grid {
    grid-column-start: 4;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 10px;
}

.image {
    width: 100%;
}

.section-c {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.section-c div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.section-c img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

.section-c div h3 {
    font-size: 60px;
    color: black;
    margin-left: 30px;
}

.section-c div p {
    font-size: 20px;
    margin-left: 30px;
    color: black;
    margin: 15px 0;
}

@media screen and (max-width: 991px) {
    /* tablets */
    
    }
    
@media screen and (max-width: 767px) {
/* phones etc */

.nav-menu {
margin: 15px;
}
.navbar-wrapper {
padding-left: 0px;
}
.navbar-bars {
display: block;
}

.navbar-menu-wrapper {
position: absolute;
/* position menu wrapper off screen, will use 'transition' to slide the menu in and out of view */
left: var(--menu-left-offset);
width: var(--menu-width);
top: 0px;
bottom: 0px;
z-index: 100;
background-color: #ffffff;
}

/* transition for sliding menu into view */
.show-menu .navbar-menu-wrapper {
transition: 0.5s;
left: 0;
}

/* transition for sliding menu out of view */
.hide-menu .navbar-menu-wrapper {
transition: 0.3s;
left: var(--menu-left-offset);
}

.navbar-menu-item {
display: block;
}

.show-menu {
display: block;
}

.show-menu .btn-primary {
display: block;
}

.show-menu .navbar-bars {
display: none;
}
.show-menu .navbar-x {
display: block;
padding: 15px;
}

.show-menu .navbar-background {
display: block;
}
.section-a div {
    width: auto;
    text-align: center;
}

.section-a h1 {
    margin-left: 0;
}

.section-a p {
    margin-left: 0;
}

.section-a .btn {
    margin-left: 0;
    display: block;
}
.section-a .btn-primary{
    margin-left: 0;
    display: block;
}

.section-b {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 100px 1fr;
}

.section-b div.image-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.section-c div h3 {
    font-size: 40px;
}

.section-c{
    text-align: center;
    margin-top: 15px;
    grid-template-columns: 100%;
    grid-template-rows: 33% 31% 33%;
}

.section-c img {
    width: 100%;
    margin-bottom: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
}

.section-c div {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
}