* {
    /*removes default margin and padding*/
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*Variables*/
    --hero-color: #FF3F3F;
    --menu-left-offset: -300px;
    --menu-width: 300px;
}

/*General styling for elements*/
p {
    opacity: 1;
    line-height: 1.667em;
    font-size: 20px;
}
ul{
    font-size: 20px;
    line-height: 1.667em;
}

h2 {
    font-size: 60px;
    color: black;
    margin-bottom: 30px;
}

body {
margin: 0px;
padding: 0px;
background-color: #f1f1f1;
font-size: 18px;

}
/*Navbar displayed to the user*/
.navbar {
background-color: #ffffff;
min-height: 18px;
padding: 0px 30px;
}
.navbar-wrapper {
display: flex;
margin-right: auto;
margin-left: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-menu-wrapper {
    justify-content: space-between;
    align-items: center;
}

/*Styling for all items in the navbar*/
.navbar-menu-item {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: black;
}

.navbar-menu-item  a {
    color: black;
    text-decoration: none;
}

.navbar-menu-item  a:hover {
    color: var(--hero-color);
    text-decoration: none;
}

/*The primary button*/
a.btn-primary {
    padding: 26px 38px;
    justify-content: center;
    border-radius: 48px;
    background-color: var(--hero-color);
    color: #ffffff;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*Primary button hover effects*/
.btn-primary:hover {
    background-color: #e91a1a;
}


.btn-primary.small {
    padding: 18px 24px;
    border-radius: 76px;
    font-size: 16px;
    line-height: 18px;
}

/*Hides the X button*/
.navbar-bars,
.navbar-x {
display: none;
}

/*Sliding navbar*/
.navbar-background {
position: absolute;
z-index: 50;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;
background-color: #000000;
opacity: 0.8;
display: none;
}   

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 26px 38px;
    display: inline-block;
    border-radius: 48px;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--hero-color);
    color: white;
}

section{
    padding: 0px 50px;
}

/*Styling for the background image*/
.section-a {
    background-image: url(Imgs/Landing-Image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.explore .section-a {
    /*Smaller background image for explore page*/
    height: 70vh;
    background-image: url(Imgs/House\ Front.webp);
    background-position: center -300px;
}

.section-a div {
    border-radius: 30px;
    position: relative;
    top: 180px;
    width: 40%;
}

h1 {
    color: white;
    font-weight: 10;
    font-size: 75px;
    line-height: 1.161em;
    padding-top: 20px;
}

.section-a p {
    color: white;
    font-size: 20px;
    margin: 0;
}

.section-a .btn {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section-a .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .section-a {
    text-align: center;
    height: 80vh;
    background-image: url(Imgs/about-background-image.webp);
    
}

.about .section-a div {
    width: 100%;
}

.about h1 {
    margin-bottom: 40px;
}

.angle-down {
    text-decoration: none;
    color: white;
    border: white 5px solid;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
}

/*Styling for the about section on the explore page*/
.explore .contents {
    display: flex;
    margin-bottom: 30px;
}

.explore .contents div {
    display: flex;
    border: 1px solid lightgray;
    padding: 5px 2px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    font-size: 20px;
}

.explore .contents div i {
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 15px;
}

.explore .contents div p {
    padding-right: 15px;
}

/*Dislpays the middle section of the page as a grid so when the page resizes the content can shift*/
.section-b {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 125px 1fr;
}

.about .section-b {
    grid-template-columns: 50% 50%;
    margin-bottom: 150px;
}

/*Grid with text*/
.section-b div.content-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 50px;
}

.about .section-b .content-grid {
    grid-column-end: 2;
}

.about .section-b .content-grid img {
    width: 25%;
    border-radius: 24px;
    margin-right: 20px;
}

.about .section-b .content-grid div {
    display: flex;
}

.map-grid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1 / 3;
    height: 100%;
    display: block;
}

.map-grid img {
    width: 100%;
    border-radius: 24px;
}

.map-grid p {
    font-size: 11px;
}

.section-b ul {
    margin-left: 30px;
}

/*Grrid with images*/
.section-b div.image-grid {
    grid-column-start: 4;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 10px;
}

.image {
    width: 100%;
    border-radius: 24px;
}

/*Blurb Section*/
.section-c {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    margin-bottom: 10px;
}

/*Tells where the image and text are in the grid*/
.section-c div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 50px;
}

/*Styling for the amenities section*/
.explore .amenities-2 .column-2 {
    display: flex;
}

.explore .amenities .column-1 {
    display: flex;
}

.explore .amenities-2 i {
    /*The padding top lines the icons up with the text*/
    padding-right: 20px;
    padding-top: 6px;
}

.explore .amenities i {
    padding-right: 20px;
    padding-top: 6px;
}

.about-text {
    /*Adds whitespace for cleaner look*/
    margin-bottom: 15px;
}

.section-c img {
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 24px;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

.section-c div p {
    font-size: 20px;
    margin-left: 30px;
    color: black;
    margin: 15px 0;
}

.gallery-heading {
    margin-left: 50px;
    margin-top: 80px;
}


/*Styling for image grid*/
.section-d {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
    margin: 0 50px;
    margin-bottom: 10px;
}

/*Setting the images to fill the grid and I added a border radius for cleaner effect*/
.section-d img {
    width: 100%;
    border-radius: 24px;
}

/*Styling so the widget can be on the right side of the page at full screen but be below the amenities when on phone screen*/
.section-e .container {
    display: grid;
    grid-template-columns: 6fr 3.5fr;
    grid-gap: 15px;
    margin-top: 80px;
}

.section-e .container .container-2 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.amenities-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 100%;
    padding-top: 80px;
}

.amenities-wrapper h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.section-e .container .container-3 {
    grid-column-start: 2;
    grid-column-end: 2;
}

/*Styling for the widget*/
.section-e .container .widget {
    position: -webkit-sticky;
    background-color: white;
    position: sticky;
    top: 10px;
    margin-top: -380px;
    padding: 48px 40px;
    border-radius: 24px;
    box-shadow: 0 2px 12px 0 rgb(20 20 43 / 8%);
}

/*Styling for text inside of the widget*/
.section-e .container .widget h3 {
    font-size: 40px;
    margin-bottom: 32px;
}

.section-e .container .widget p {
    font-size: 30px;
}

.section-e .container .widget .btn-primary {
    margin-top: 32px;
    margin-bottom: 0px;
    display: block;
}

.your-host-imgs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    margin: 0 50px;
    margin-bottom: 10px;
}

.your-host-imgs img {
    width: 100%;
    border-radius: 24px;
}

.Img-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    background-image: url(Imgs/Your-Host-Gallery/Hot-Tub-2.webp);
    background-position: center center;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Img-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.Img-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.Img-4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media screen and (max-width: 991px) {
    /* tablets */
    
    }

@media screen and (max-width: 767px) {
/* phones etc */

.navbar{
padding: 0 5px;
}
.nav-menu {
margin: 15px;
}
.navbar-wrapper {
padding-left: 0px;
}
.navbar-bars {
display: block;
}

.navbar-menu-wrapper {
position: absolute;
/* position menu wrapper off screen, will use 'transition' to slide the menu in and out of view */
left: var(--menu-left-offset);
width: var(--menu-width);
top: 0px;
bottom: 0px;
z-index: 100;
background-color: #ffffff;
}

/* transition for sliding menu into view */
.show-menu .navbar-menu-wrapper {
transition: 0.5s;
left: 0;
}

/* transition for sliding menu out of view */
.hide-menu .navbar-menu-wrapper {
transition: 0.3s;
left: var(--menu-left-offset);
}

/*Displays as block so the items are displayed vertically*/
.navbar-menu-item {
display: block;
}

.show-menu {
display: block;
}

.show-menu .btn-primary {
display: block;
}

.show-menu .navbar-bars {
display: none;
}
.show-menu .navbar-x {
display: block;
padding: 15px;
margin-left: 5px;
}

.show-menu .navbar-background {
display: block;
}

/*Shrinks content to fit page better*/
h2 {
    font-size: 40px;
}

/*Changed the position of the background when on phone view*/
.explore .section-a {
    background-position: center left;
}

.about .section-a {
    background-position: center right;
}

.section-a div {
    width: auto;
    text-align: center;
}

.section-a h1 {
    margin-left: 0;
}

.section-a p {
    margin-left: 0;
}

.section-a .btn {
    margin-left: 0;
    display: block;
}
.section-a .btn-primary{
    margin-left: 0;
    display: block;
}

/*Makes each part of the amount of beds ect take the full width of the screen and have one on each line of the page*/
.explore .contents {
    display: block;
}

.section-b {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
}

.section-b ul{
    margin-bottom: 30px;
}

.section-b div.content-grid {
    padding-right: 0px;
}

/*Changes where the content is in the grrid*/
.section-b div.image-grid {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.about .section-b {
    display: block;
}

.about .section-b .content-grid div{
    display: block;
    grid-row: 1/2;
    margin-bottom: 100px;
}

.about .section-b .content-grid div img{
    width: 100%;
    margin-bottom: 30px;
}


.about .section-b .map-grid {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 2/3;
}

.section-c{
    grid-template-columns: 100%;
    grid-template-rows: 2fr;
    margin-top: 100px;
}

.section-c img {
    width: 100%;
    margin-bottom: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
}

.section-c div {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 0px;
}

/*Styling for when the page is on phone view so the widget is underneath the amenities section*/
.amenities-wrapper {
    margin-bottom: 100px;
}

.section-d {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 194px);
}

.section-e .container {
    grid-template-columns: 100%;
}

.section-e .container .container-3 {
    grid-column-start: 1;
    grid-column-end: 1;
}

.explore .contents div {
    margin-left: 0px;
    margin-right: 0px;
}

.section-e .container-3 {
    margin-top: 380px;
}

.your-host-imgs {
    display: block;
}

.your-host-imgs img {
    margin-top: 10px;
}

.Img-1 {
    height: 193.33px;
}
}