* {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

:root {
    --hero-color: #FF3F3F;
}

p {
    opacity: 120%;
}

.btn-primary{
    color: white;
    background-color: var(--hero-color);
    text-decoration: none;
    padding: 26px 38px;
    display: inline-block;
    border-radius: 48px;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #e91a1a;
}

.btn {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 26px 38px;
    display: inline-block;
    border-radius: 48px;
    font-size: 18px;
}

.btn:hover {
    background-color: var(--hero-color);
    color: white;
}

nav {
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    padding: 0 10%;
    color: var(--hero-color);
    font-size: 20px;
}

.nav-item a {
    text-decoration: none;
    color: var(--hero-color);
}

.nav-item:hover {
    background: lightgrey;
    background-clip: padding-box;
    border-radius: 10px;
}

.nav-item:first-child{
    padding-left: 20px;
}

.nav-item:first-child:hover {
    background: white;
}

.nav-item:last-child{
    padding: 0 30px;
}

.nav-item4 {
    border: 2px solid #FF3F3F;
    border-radius: 10px;
}

.nav-item:last-child:hover {
    background: lightgray;
}

.section-a {
    background-image: url(Imgs/Landing-Image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.section-a div {
    border-radius: 30px;
    position: relative;
    top: 180px;
    width: 40%;
    margin: 0 50px;
}

h1 {
    color: white;
    font-weight: 10;
    font-size: 75px;
    line-height: 1.161em;
    padding-top: 20px;
}

.section-a p {
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: 1.667em;
}

.section-a .btn {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.section-a .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-b {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 125px 1fr;
}

.section-b h3 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    font-size: 60px;
    color: var(--hero-color);
}

.section-b ul {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    font-size: 40px;
    color: var(--hero-color);
    margin-left: 30px;
}

.section-b div {
    grid-column-start: 4;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.image {
    width: 100%;
}

.section-c {
    margin-top: 210px;
    display: flex;
}

.section-c div{
    width: 50%;
}

.section-c img {
    width: 50%;
}

.section-c div h3 {
    font-size: 60px;
    color: var(--hero-color);
    margin-left: 30px;
}

.section-c div p {
    font-size: 20px;
    margin-left: 30px;
    color: var(--hero-color);
    margin: 15px 0;
}

@media only screen and (max-width: 767px) {
    .section-a div {
        width: auto;
        text-align: center;
    }

    .section-a h1 {
        margin-left: 0;
    }

    .section-a p {
        margin-left: 0;
    }
    
    .section-a .btn {
        margin-left: 0;
        display: block;
    }
    .section-a .btn-primary{
        margin-left: 0;
        display: block;
    }
}